html,
body {
  background: #ffffff;
  color: #2B2B2B;
  height: 100%;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /*font-size: 0.84em;*/
  margin: 0;
  /*overflow: hidden;*/
  padding: 0;
}

body * {
  outline: none;
}

/* CURSORS */
.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

/* ROOT & LOADER */
#root {
  height: 100vh;
  width: 100%;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.loader-global {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

div.loader-global {
  /*background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5046393557422969) 100%);*/
  background: rgb(244, 244, 244);
  background: linear-gradient(0deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 1) 93%, rgba(244, 244, 244, 0) 100%);
  /*transition: 0.3s;*/

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

div.loader-global .wrapper {
  max-width: 300px;
  width: 100%;
}

div.loader-global .progress-bar {
  background: rgba(65, 65, 65, 0);
  border-top: 1px solid rgba(65, 65, 65, 0.5);
  height: auto;
  width: 100%;
}

div.loader-global .progress-bar .progress {
  background: rgb(203, 192, 169, 0.6);
  height: 1px;
}

div.loader-global.hidden {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* COLORS */
@media (min-width: 650px) {
}

@media (max-width: 650px) {
  .x {
    background-color: rgb(248, 249, 250);
  }

  .bg-light-sm {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250, 1) !important;
  }
}

/* MARGIN & PADDING */
@media (min-width: 900px) {
  .p-45 {
    padding: 2.25rem !important
  }
}

/* BORDERS */
.border-round-100 {
  border-radius: 100px;
}

.border-round-10 {
  border-radius: 10px;
}

.border-round-5 {
  border-radius: 5px;
}

.border-left {
  border-left-style: solid;
}

/* TEXT */
.text-tiny {
  font-size: 10px
}

.text-no-decoration-underline {
  text-decoration: none;
}

.text-strike {
  text-decoration: line-through;
}

.line-height-fs-5 {
  line-height: 2.3rem;
}

.fs-07 {
  font-size: 0.7rem !important;
}

@media (min-width: 720px) {
  .fs-07 {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 650px) {
}

/* IMAGES */
.thumbnail-circle {
  border-radius: 50px;
  max-width: 50px;
}

/* SQUARES */
div.square-100 {
  height: 100px;
  width: 100px;
}

div.square-80 {
  height: 76px;
  width: 80px;
}

.square-50 {
  height: 50px;
  width: 50px;
}

.square-25 {
  height: 25px;
  line-height: 24px;
  width: 25px;
}

/* WIDTH & HEIGHT */
.w-100-90 {
  width: calc(100% - 90px);
}

.w-15 {
  width: 15% !important
}

.w-18 {
  width: 18% !important
}

.w-20 {
  width: 20% !important
}

.w-30 {
  width: 30% !important
}

.w-40 {
  width: 40% !important
}

/* Z-INDEX */
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-100 {
  z-index: 100;
}

/* COMPONENTS */

/* Top Bar */
header.top-bar .carousel-control-prev-icon,
header.top-bar .carousel-control-next-icon {
  background-size: 50%;
}

@media (min-width: 650px) {
}

@media (max-width: 650px) {
  header.top-bar .carousel-item a {
    font-size: 0.8rem;
  }
}

/* Branding Bar */
@media (min-width: 650px) {
}

@media (max-width: 650px) {
  .branding-bar img {
    max-width: 50px;
  }

  .branding-bar img.site-logo {
    max-width: 110px;
  }
}

/* Page Title */
.page-title {
  font-weight: 300;
}

@media (min-width: 650px) {
}

@media (max-width: 650px) {
  .page-title {
    font-size: calc(2rem + 1.5vw);
  }
}

/* Purchase Stepper */
.purchase-stepper a {
  text-align: center;
}

.purchase-stepper a p {
  font-size: 12px;
}

.purchase-stepper a i {
  display: block;
}

/* Product Features */
@media (min-width: 721px) {
  div.product-features p i {
    font-size: calc(0.6rem + 1.5vw);
    line-height: 1.1em;
  }
}

@media (max-width: 650px) {
}

/* Offer Disclaimer */
@media (max-width: 650px) {
  div.offer-disclaimer span.text {
    font-size: 0.8rem;
    line-height: 1.1em;
  }
}

/* Card Box */
div.card-box {
  font-size: 0.7rem;
  line-height: 2em;
}

@media (min-width: 721px) {
  div.card-box {
    font-size: 0.7rem;
    line-height: 3em;
  }

  div.card-box .col:first-child {
    width: 20%;
  }

  div.card-box .col:nth-child(2) {
    width: 40%;
  }

  div.card-box .col:last-child {
    border-left-style: solid;
    border-left-width: 1px;
    width: auto;
  }
}

@media (max-width: 720px) {
  div.card-box .col:first-child {
    width: 33%;
  }

  div.card-box .col:nth-child(2) {
    width: 65%;
  }

  div.card-box .col:last-child {
    border-top-style: solid;
    border-top-width: 1px;
    width: calc(100% - 1rem);
  }
}


.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #84BE37;
  --bs-btn-border-color: #84BE37;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #84BE37;
  --bs-btn-hover-border-color: #84BE37;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #84BE37;
  --bs-btn-active-border-color: #84BE37;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #84BE37;
  --bs-btn-disabled-border-color: #84BE37
}
